@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'WorkSans-Italic';
    src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf');
}
*{
    box-sizing: border-box;
}
:root{
    /* colors */
    --primary-clr-white: hsl(0, 0%, 100%);
    --accent-clr-pink: hsl(275, 100%, 97%);
    --accent-clr-grayish-purple: hsl(292, 16%, 49%);
    --accent-clr-dark-purple: hsl(292, 42%, 14%);
    --accent-clt-hover: hsl(281, 83%, 54%);

    /* Fonts */
    --ff-worksans: 'WorkSans';
    --ff-worksans-italic: 'WorkSans-Italic'; 

    /* Font Size */
    --fs: 16px;

    /* Font Weights */
    --fw-regular: 400;
    --fw-bold: 600;
    --fw-extra-bold:700;

    /* border radius */
    --br: 8px;
}
body{
    background-color: var(--accent-clr-pink);   
    overflow-y: scroll;  
}   
.banner {
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-size: cover;
    margin: -1vh 0 0 -1vh;
    width: 100vw;
    height: 40vh;
} 
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -13vh 3vh 0 3vh;
}
.content-card{  
    background-color: var(--primary-clr-white);
    border-radius: var(--br);
    min-height: 40vh;
    max-width: 515px;
    min-width: 320px;
    position: relative;
}
.content-title{
    display: inline-flex;
}  
.content-title img{
    margin: 0 -2vh 0 2vh;    
}
.content-title h1{
    padding-left: 40%;
    font-family: var(--ff-worksans);    
    font-weight: var(--fw-extra-bold);
    font-size: 40px;
} 
h2, h3, h4, h5{    
    font-family: var(--ff-worksans);    
    font-weight: var(--fw-extra-bold);
    font-size: 14px;
}
h2:hover, h3:hover, h4:hover, h5:hover{    
    color: var(--accent-clt-hover);
    cursor: pointer;
}
.content-section{
    display: inline-flex;
    width: 80%;
    font-family: var(--ff-worksans);
    font-size: var(--fs);
    font-weight: var(--fw-bold);
}
.content-section img{
    position: relative;
    margin-left: auto;
    left: 15%;
}
hr{
    width: 85%;
    border: 1px solid var(--accent-clr-pink);
}
.content-card > .content-section{
    padding-left: 20px;
}
.content-card > p{
    margin: 0 3vh 0 3vh;
    color: grey;
    font-family: var(--ff-worksans);
    font-size: 14px;
    line-height: 1.3rem;
    display: none;
}
.content-card > p:last-child {
    padding-bottom: 5%;
  }
.attribution {     
    position: relative;
    font-size: 11px; 
    margin-top: 3vh;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (min-width: 650px){
    .banner {
        background-image: url("./assets/images/background-pattern-desktop.svg");
        background-size: cover;
        margin: -1vh 0 0 -1vh;
        width: 100vw;
        height: 40vh;
    } 
  } 